.App-header {
  text-align: center;
  background-image: url('./images/Coffee.jpg');
  background-repeat: no-repeat;
  font-family: Bradley Hand, cursive;
  height: 250px;
}

.App-title {
  padding-top: 20px;
  color: #6433E9;
  font-size: 3.0em;
}

.App-slogan {
  font-size: 1.5em;
  color: #6433E9;
  padding-top: 20px;
}

.Header-image {
  background-image: url("./images/Coffee.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  transform: rotate(90deg);
}

/*//////////////////////////////////////////////////////////////////////////*/

.App-body {
  font-family: Bradley Hand, cursive;
}

/*//////////////////////////////////////////////////////////////////////////*/

.User-posts-container {
  float: right;
  width: 625px;
  height: 510px;
  background-color: #666699;
  text-align: center;

}

.user-posts {
  float: center;
}
