.App-header {
  text-align: center;
  background-image: url('./images/Coffee.jpg');
  background-repeat: no-repeat;
  font-family: Bradley Hand, cursive;
  height: 250px;
}

.App-title {
  padding-top: 20px;
  color: #6433E9;
  font-size: 3.0em;
}

.App-slogan {
  font-size: 1.5em;
  color: #6433E9;
  padding-top: 20px;
}

.Header-image {
  background-image: url("./images/Coffee.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  transform: rotate(90deg);
}

/*//////////////////////////////////////////////////////////////////////////*/

.App-body {
  font-family: Bradley Hand, cursive;
}

/*////SCROLL BAR///////////////////////////////////////////////////////////////////////*/

 /* width */
 ::-webkit-scrollbar {
     width: 10px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     background: #f1f1f1;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: #A9A9A9;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: #555;
 }

/*////PROFILE////////////////////////////////////////////////////////////////*/

#userPostsContainer {
  float: right;
  width: 50%;
  height: 650px;
  background-color: #666699;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.User-search {
  float: right;
  width: 100px;
  height: 20px;
  padding-right: 250px;

}

/* width: 630px;
height: 650px; */

/*/////POST CARDS///////////////////////////////////////////////////////////////////////*/

#card {
  width: 100%;
  height: 200px;
  padding-bottom: 75px;
  }

.card-image-left {
  float: left;
  height: 40%;
  width: 60%;
}

.card-body {
  float: right;
  background-color: #D3D3D3;
  height: 125%;
  width: 40%;
}

/* width: 625px;
height: 200px; */

/* height: 250px;
width: 225px; */

/*///EXPLORE PAGE///////////////////////////////////////////////////////////////////*/

#mapContainer{
  width: 50%;
  float: left;
  position: absolute;
}

/*///CREATE////////////////////////////////////////////////////////////////////*/

#createPostsContainer {
  float: right;
  width: 50%;
  background-color: #666699;
  text-align: center;
  height: 650px;
}

#postForm {
  background-color: #D3D3D3;
  text-align: center;
  width: 40%;
  height: 60%;
  padding-left: 50%;
}

.Create-search {
  width: 100px;
  height: 20px;
}

.button {
  width: 200px;
  padding: 12px;
  background: #6433E9;
  color: white;
  font-family: Bradley Hand, cursive;
}

/*    width: 630px;
  height: 650px; */
